{% extends 'latyout.html' %}
{% block content %}
    <div class="container-fluid cont-fluid">
        <div class="container animate__animated animate__bounce">
            <div class="row">
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                </div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quas illum harum nihil ab facilis sit temporibus tempore magni eligendi! Dolore, porro ab perferendis unde similique possimus iusto nesciunt commodi!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}