{% extends 'latyout.html' %}
{% block content %}
    <div class="container-fluid cont-logo">
        <img class="logo animate__animated animate__backInDown" src="{{url_for('static',filename='img/logo.png')}}" alt="logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore placeat fugit molestias vel fuga est, hic vero, officiis repellat similique reiciendis ex? Nemo animi modi, libero dignissimos eligendi necessitatibus accusantium.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore placeat fugit molestias vel fuga est, hic vero, officiis repellat similique reiciendis ex? Nemo animi modi, libero dignissimos eligendi necessitatibus accusantium.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore placeat fugit molestias vel fuga est, hic vero, officiis repellat similique reiciendis ex? Nemo animi modi, libero dignissimos eligendi necessitatibus accusantium.</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore placeat fugit molestias vel fuga est, hic vero, officiis repellat similique reiciendis ex? Nemo animi modi, libero dignissimos eligendi necessitatibus accusantium.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore placeat fugit molestias vel fuga est, hic vero, officiis repellat similique reiciendis ex? Nemo animi modi, libero dignissimos eligendi necessitatibus accusantium.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore placeat fugit molestias vel fuga est, hic vero, officiis repellat similique reiciendis ex? Nemo animi modi, libero dignissimos eligendi necessitatibus accusantium.</p>
            </div>
        </div>
    </div>
{% endblock %}